body {
  background-color: #e5e5e5;
  font-family: "Roboto", sans-serif;
  z-index: -10;
}

input {
  border-radius: 3px;
  background: #fafafa;
  height: 28px;
  width: 215px;
  border: 1px solid #dbdbdb;
  color: #979797;
  display: flex;
  justify-content: center;
}

.topMenu {
  width: 100%;
  height: 54px;
  position: fixed;
  left: 0px;
  top: 0px;
  background-color: #ffffff;
  z-index: 5;
}

::-webkit-input-placeholder {
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}

:-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}

::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}

:-ms-input-placeholder {
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}

.menuOptions {
  width: 935px;
  height: inherit;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 19.25px;
}

.menuOptions img {
  height: 29px;
}

.iconAndLogo {
  display: flex;
  align-items: center;
}

.separator {
  margin: 0 10px;
  width: 1px;
  height: 22px;
  background: #dbdbdb;
}

.mobileShow {
  display: none;
}

.menuCenter {
  display: flex;
  align-items: center;
}

.iconGroup {
  display: flex;
  align-items: center;
}

.iconGroup ion-icon {
  margin-left: 10px;
}

.line {
  margin-top: 54px;
  height: 1px;
  width: 100%;
  background: #dbdbdb;
}

.content {
  width: 935px;
  margin: 34px auto 0 auto;
  display: flex;
  justify-content: space-between;
}

.feed {
  width: 614px;
  height: 1000px; /*Temporária*/
}

.stories {
  background: #ffffff;
  border: 1px solid #dbdbdb;
  height: 118px;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  border-radius: 3px;
  margin-bottom: 24px;
  overflow: hidden;
  position: relative;
}

.stories ion-icon {
  position: absolute;
  color: #e5e5e5;
  right: 9px;
  top: 46px;
  font-size: 26px;
  color: #ffffff;
  text-shadow: 5px 5px 20px #ddd;
}

.oneStory {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 18px;
  margin-left: 14px;
}

.oneStory:first-child {
  margin-left: 18px;
}

.oneStory p {
  font-size: 12px;
  font-weight: 400;
  color: #262626;
  line-height: 14px;
}

.circleBackground {
  background-image: url("../src/images/stories_background.jpg");
  background-size: 100%;
  border-radius: 50%;
  width: 66px;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circleBackground img {
  width: 56px;
  border-radius: 28px;
}

.post {
  height: 749px;
  width: 100%;
  background: #ffffff;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.post img {
  width: 100%;
  height: 657px;
  object-fit: cover;
}

.postHeader {
  width: 100%;
  height: 61px;
  border-bottom: 1px solid #efefef;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #262626;
}

.postHeader div:first-child {
  display: flex;
  align-items: center;
}

.postHeader img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  margin-left: 17px;
  margin-right: 15px;
}

.postHeader p {
  font-weight: 500;
  font-size: 14px;
}

.postHeader ion-icon {
  margin-right: 17px;
}

.postFooter {
  width: 100%;
  height: 76px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.postOptions {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  margin-left: 18px;
}

.postOptions ion-icon {
  margin-right: 10px;
}

.postOptions div:last-child {
  margin-right: 8px;
}

.postFooter img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: 18px;
  margin-right: 5px;
}
.postFooter p {
  font-size: 14px;
  font-weight: 300;
  line-height: 16.41px;
}

.postFooter span {
  font-weight: 500;
}

.likes {
  display: flex;
  align-items: center;
}

.sidebar {
  width: 293px;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 23px;
}

.profileInfo img {
  border-radius: 50%;
  width: 56px;
  margin-right: 17px;
}

.myProfile {
  display: flex;
  align-items: center;
}

.myProfileText p:first-child {
  font-weight: 500;
  font-size: 14px;
  color: #262626;
  line-height: 16.41px;
}

.myProfileText p:last-child {
  font-weight: 300;
  font-size: 14px;
  color: #8e8e8e;
  line-height: 16.41px;
}

.suggestions > p {
  font-weight: 400;
  font-size: 11px;
  line-height: 12.89px;
  color: #c7c7c7;
  margin-top: 33px;
}

.suggestions > p:last-child {
  margin-top: 18px;
}

.sugTitle {
  margin-top: 24px;
  margin-bottom: 17px;
  display: flex;
  justify-content: space-between;
}

.sugTitle p:first-child {
  color: #8e8e8e;
  font-size: 12px;
  font-weight: 500;
}

.sugTitle p:last-child {
  color: #262626;
  font-size: 12px;
  font-weight: 500;
}

.sugProfiles {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.sugProfiles img {
  width: 32px;
  margin: 0px;
}

.profileText {
  width: 203px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profileText p:first-child {
  color: #262626;
  font-size: 14px;
  font-weight: 500;
}

.profileText p:last-child {
  color: #8e8e8e;
  font-size: 12px;
  font-weight: 400;
}

.seguir {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  color: #139ef2;
}

@media (max-width: 935px) {
  .menuOptions {
    width: 100%;
  }

  .iconAndLogo {
    margin-left: 10px;
  }

  .iconGroup {
    margin-right: 10px;
  }

  .sidebar {
    display: none;
  }

  .content {
    width: 100%;
    justify-content: center;
  }
}

@media (max-width: 614px) {
  .mobileHide {
    display: none;
  }

  .mobileShow {
    display: initial;
  }

  .stories {
    background: none;
    border: 0px solid #dbdbdb;
    margin-bottom: 0px;
  }
  .stories ion-icon {
    display: none;
  }

  .content {
    margin-top: 0px;
  }
  .feed {
    width: 100%;
  }
}
